/*Google Font*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');


body{
  background: #f1f1f1;
  margin: 0;
  font-family: "Poppins";
}

header{
  background: #fff;
}

header .container{
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  color: #333;
  text-decoration: none;
}

pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

form button{
  background: #8739f9;
  color: #fff;
  width: 100%;
  border-radius: 4px;
  padding: 10px;
  font-family: "Poppins";
  cursor: pointer;
}

form {
  max-width: 400px;
  background: #fff;
  margin: 40px auto;
  padding: 40px;
  border-radius: 4px;
}